# Using Android app IP Webcam: https://play.google.com/store/apps/details?id=com.pas.webcam&hl=en_US
# BIRDNET_COMMAND="birdnet-go realtime --rtsp "rtsp://host:8080/ulaw.sdp"

# Using RTSP Stream:
BIRDNET_COMMAND="birdnet-go realtime --rtsp 'rtsp://user:password@host/stream'"